*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Courier New', sans-serif;
  }
 #banner{
	background-size: cover;
	background-position: center;
	height: 100vh;
 } 
 .content{
    text-align: center;
    top: 50%;
    bottom: 50%;
}
.texts{
	color: #f8f8f8;
    font-size: 3rem;
}

@media screen and (max-width: 760px) {
	.texts{
		font-size: 1.1rem;
	}
}